{% extends 'base.html.twig' %}

{% block title %}Page User {% endblock %}

{% block body %}

<h1>Les utilisateurs</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Rôle</th>
    </tr>
  </thead>
  <tbody>
    {# {% for utilisateurs in utilisateur %}
    <tr>
      <th scope="row">{{utilisateur.id }}</th>
      <td>{{utilisateur.nom }}</td>
      <td>{{utilisateur.Prenom }}</td>
      <td>{{utilisateur.Role }}</td>
    </tr>
    {% endfor %} #}
  </tbody>
</table>

{% endblock %}